h2 {
    text-align: center;
    color: #8c52ff;
}

form {
    max-width: 400px;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="select"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #e9e9e9; /* Light gray to indicate view-only mode */
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="date"]:disabled,
input[type="select"]:disabled {
    background-color: #e9e9e9;
    color: #6c757d; /* Dim the text color to show it's disabled */
}

div.buttons {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 35px;

}

button.edit-button {
    background-color: #8c52ff;
    width: 100%;
    margin: 10px;
    height: 38px;
    border: none;

}

button.delete-button {
    background-color: #f54d5d;
    width: 48%; /* Split button with the Update button */
    float: left; /* Align to the left */
    border: none;

}
  

button.update-button {
    background-color: #44c867e8;
    width: 48%; /* Split button with the Delete button */
    float: right; /* Align to the right */
    border: none;

    
}

/* Style for the error messages */
.error {
    color: red;
    font-size: 0.8em;
    margin-top: -10px; /* Position closer to the input field */
}

/* Red border for invalid inputs */
input.ng-touched.ng-invalid {
    border-color: red;
}

.back-arrow-container {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .back-arrow {
    font-size: 70px;
    cursor: pointer;
    color:#8c52ff;
    margin-right: 10px;
    text-decoration: none;
    position: fixed;
    top : 90px;
    margin: 20px;

  }
  
  .back-arrow:hover {
    color:#8c52ff;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #8c52ff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #8c52ff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }